.button {
  background-color: var(--old-rose);
  color: white;
  border: 1px solid var(--old-rose);
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s ease;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}
