.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__title {
    color: var(--third-color);
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    column-gap: 7px;

    svg {
      fill: var(--third-color) !important;
    }
  }
}
