.nav-bar {
  background-color: var(--old-rose);
  display: grid;
  grid-area: nav-bar;
  grid-template-rows: min-content 1fr;
  justify-content: center;

  &__logo {
    width: 120px;
    padding: 30px 0 0;
    justify-items: center;
    object-fit: cover;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0;
    grid-row-gap: 35px;
  }

  &__link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    column-gap: 8px;
    opacity: 0.5;
    transition: 0.3s;

    &:hover,
    &.is-active {
      opacity: 1;
    }
  }
}
