.nav-bar {
  background-color: var(--old-rose);
  display: grid;
  grid-area: nav-bar;
  grid-template-rows: min-content 1fr;

  &__logo {
    width: 120px;
    padding: 30px 0 0;
    justify-items: center;
    object-fit: cover;
    margin: auto;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0;
  }

  &__link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    column-gap: 8px;
    transition: 0.3s;
    width: 100%;
    padding: 15px 20px;

    &.is-active {
      background: white;
      color: var(--old-rose);

      svg {
        fill: var(--old-rose) !important;
      }
    }
  }
}
