.table__container {
  border: 1px solid var(--third-color);
  border-radius: 10px;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  text-align: left;
  border-bottom: 1px solid var(--third-color);
  background-color: var(--third-color);
  color: white;
}

.table tr:not(:last-child) {
  border-bottom: 1px solid var(--third-color);
}

.table th,
.table td {
  padding: 10px 15px;
  font-size: 14px;
}
