.employees {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.employees__title {
  color: var(--third-color);
  font-size: 20px;
  margin-bottom: 10px;
}
