:root {
  --primary-color: #8d6d6d;
  --secondary-color: #ebc0c1;
  --third-color: #606060;
}

@font-face {
  font-family: "cera-pro";
  src: url("./assets/fonts/cera-pro/cera-pro-bold.otf") format("opentype"),
  url("./assets/fonts/cera-pro/cera-pro-bold.ttf") format("truetype"),
  url("./assets/fonts/cera-pro/cera-pro-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "cera-pro";
  src: url("./assets/fonts/cera-pro/cera-pro-light.otf") format("opentype"),
  url("./assets/fonts/cera-pro/cera-pro-light.ttf") format("truetype"),
  url("./assets/fonts/cera-pro/cera-pro-light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "cera-pro";
  src: url("./assets/fonts/cera-pro/cera-pro-medium.otf") format("opentype"),
  url("./assets/fonts/cera-pro/cera-pro-medium.ttf") format("truetype"),
  url("./assets/fonts/cera-pro/cera-pro-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "lust-slim";
  src: url("./assets/fonts/lust-slim/lust-slim-didone.otf") format("opentype"),
  url("./assets/fonts/lust-slim/lust-slim-didone.ttf") format("truetype"),
  url("./assets/fonts/lust-slim/lust-slim-didone.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "lust-slim";
  src: url("./assets/fonts/lust-slim/lust-slim-didone.otf") format("opentype"),
  url("./assets/fonts/lust-slim/lust-slim-didone.ttf") format("truetype"),
  url("./assets/fonts/lust-slim/lust-slim-didone.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'cera-pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  cursor: pointer;
  background-color: transparent;
}
